<!-- <div class="navbar navbar-default" role="navigation"> -->
<!-- 	<div class="container"> -->
<!-- 		<div class="navbar-header"> -->
<!-- 			<a class="navbar-brand" href="#">Address book</a> -->
<!-- 		</div> -->
<!-- 		<div class="navbar-collapse collapse"> -->
<!-- 			<ul class="nav navbar-nav navbar-right"> -->
<!-- 				<li><a ng-href ng-click="logout()"> <span -->
<!-- 						class="glyphicon glyphicon-log-out"></span> logout -->
<!-- 				</a></li> -->
<!-- 			</ul> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- </div> -->

<div class="col-xs-6">
	<div class="panel panel-default">
		<div class="panel-heading">Addresses</div>
		<div class="panel-body">
			<div class="btn-group">
				<button type="button" class="btn btn-default" ng-click="create()"
					has-permission="address$create">
					<span class="glyphicon glyphicon-plus"></span> New
				</button>
			</div>

			<div class="btn-group pull-right">
				<button type="button" class="btn btn-default"
					ng-disabled="!selectedItem" ng-click="edit()"
					has-permission="address$edit">
					<span class="glyphicon glyphicon-pencil"></span> Edit
				</button>
				<button type="button" class="btn btn-default"
					ng-disabled="!selectedItem" has-permission="address$delete">
					<span class="glyphicon glyphicon-trash"></span> Delete
				</button>
			</div>
		</div>
		<div class="list-group">
			<a ng-href class="list-group-item"
				ng-repeat="entry in entries | orderBy : 'lastname'"
				ng-click="onItemClicked(entry)"
				ng-class="{'active': selectedItem.id == entry.id}">
				<h4 class="list-group-item-heading">
					<span ng-bind="entry.firstname + ' ' + entry.lastname"></span>
				</h4>
				<p class="list-group-item-text"
					ng-bind="entry.address + ' ' + entry.city"></p>
			</a>
		</div>

	</div>
</div>
<div class="col-xs-6">
	<div class="panel panel-default">
		<div class="panel-body">

			<form name="entryForm" class="form-horizontal" role="form" novalidate
				ng-submit="saveOrUpdate()">
				<div class="form-group">
					<label class="col-sm-3 control-label">First name</label>
					<div class="col-sm-9">
						<p class="form-control-static" ng-bind="selectedItem.firstname"
							ng-show="!entry"></p>
						<input name="firstname" ng-model="entry.firstname" type="text"
							class="form-control" placeholder="First name" ng-show="entry"
							required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Last name</label>
					<div class="col-sm-9">
						<p class="form-control-static" ng-bind="selectedItem.lastname"
							ng-show="!entry"></p>
						<input name="lastname" ng-model="entry.lastname" type="text"
							class="form-control" placeholder="Last name" ng-show="entry"
							required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Address</label>
					<div class="col-sm-9">
						<p class="form-control-static" ng-bind="selectedItem.address"
							ng-show="!entry"></p>
						<input name="address" ng-model="entry.address" type="text"
							class="form-control" placeholder="Address" ng-show="entry"
							required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">City</label>
					<div class="col-sm-9">
						<p class="form-control-static" ng-bind="selectedItem.city"
							ng-show="!entry"></p>
						<input name="city" ng-model="entry.city" type="text"
							class="form-control" placeholder="City" ng-show="entry" required>
					</div>
				</div>
				<button type="submit" class="col-sm-offset-3 btn btn-default"
					ng-show="entry"
					ng-disabled="entryForm.$pristine || entryForm.$invalid">Submit</button>
			</form>
		</div>
	</div>
</div>
</div>