<div class="jumbotron">
	<a href="https://github.com/gnavarro77/angular-shiro"
		style="z-index: 10000"> <img alt="Fork me on GitHub"
		src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"
		style="position: absolute; top: 0; right: 0; border: 0;">
	</a>
	<div class="container">
		<h1>Angular Shiro,</h1>
		<h2>Address book demo application</h2>
		<p>
			This demo application is aimed at illustrating the capabilities of
			the
			<code>angular-shiro</code>
			library.
		</p>
		<p>
			<a class="btn btn-primary btn-lg" role="button"
				ng-href="https://github.com/gnavarro77/angular-shiro/tree/master/demo">View
				source code &raquo;</a>
		</p>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-6">
			<h2>ADMIN</h2>
			<p>
				Log in as
				<code>ADMIN</code>
				with the following credentials :
			<ul>
				<li><span><code>username</code> : admin</span></li>
				<li><span><code>password</code> : admin</span></li>
			</ul>
			</p>
			<p>and enjoy all the features of the application without
				limitation</p>
		</div>
		<div class="col-md-6">
			<h2>GUEST</h2>
			<p>
				Log in as
				<code>GUEST</code>
				with the following credentials :
			<ul>
				<li><span><code>username</code> : guest</span></li>
				<li><span><code>password</code> : guest</span></li>
			</ul>
			</p>
			<p>and enjoy a strict limitation of the available features</p>
		</div>
	</div>

</div>
