<!doctype html>
<html ng-app="demo">
<head>

<link
	href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
	rel="stylesheet" />

<style>
.ng-cloak {
	display: none;
}

.has-error .form-control {
	background-color: #f2dede;
}
</style>
</head>
<body ng-controller="DemoCtrl">


	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Address book</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a target="_blank"
					href="//github.com/gnavarro77/angular-shiro"> <i
						class="fa fa-github"></i> GitHub
				</a></li>
			</ul>

			<div class="navbar-collapse collapse">
				<form name="loginForm" class="navbar-form navbar-right" role="form"
					novalidate ng-submit="logIn()" not-authenticated>
					<div class="form-group" ng-class="{'has-error' : errauthc}">
						<input type="text" placeholder="Username" class="form-control"
							ng-model="token.username"  required>
					</div>
					<div class="form-group" ng-class="{'has-error' : errauthc}">
						<input type="password" placeholder="Password" class="form-control"
							ng-model="token.password" required>
					</div>
					<button type="submit" class="btn btn-success"
						ng-disabled="loginForm.$pristine || loginForm.$invalid">
						<span class="glyphicon glyphicon-log-in"></span> Log in
					</button>
				</form>
				<a ng-href="#/logout">
					<button type="submit" class="btn btn-default navbar-btn pull-right"
						authenticated ng-cloak>
						<span class="glyphicon glyphicon-log-out"></span> Log out
					</button>
				</a>
			</div>
		</div>
	</div>

	<div class="container" style="position: relative; top: 80px;" ng-view></div>

	<script src="https://code.angularjs.org/1.2.16/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.2.16/angular-route.min.js"></script>
	<script src="https://code.angularjs.org/1.2.16/angular-mocks.js"></script>
	<script src="angular-shiro.min.js"></script>
	<script src="app.js"></script>

</body>
</html>