<div class="container">


	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th style="width: 60%;">Role</th>
				<th style="width: 40%;">Permission</th>
			</tr>
		</thead>
		<tr data-ng-repeat="role in roles">
			<td style="vertical-align: middle;">
				<h4 data-ng-bind="role.name"></h4>
				<h6 data-ng-bind="role.description"></h6>
			</td>
			<td style="vertical-align: middle;">
				<div data-ng-repeat="permission in role.permissions"
					data-ng-bind="permission"></div>
			</td>
		</tr>

	</table>

</div>